body{
    background-color: brown;
    color:yellow;
}
.heading{
    font-size: 100px;
}
.trainedpersons{
    color:orange;
    font-size: 22px;
}
#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}